# Composer
vendor/
composer.lock

# Tests
tests/cov/

# Composer binaries
bin/phpunit
bin/phpcs
bin/phpcbf
bin/atoum
bin/generate_vcards
bin/hoa
bin/naturalselection
bin/praspel
bin/sabredav
bin/vobject

# Vim
.*.swp
