# Composer
vendor/
composer.lock

# Composer binaries
bin/atoum
bin/generate_vcards
bin/hoa
bin/naturalselection
bin/phpcbf
bin/phpcs
bin/praspel
bin/sabredav
bin/vobject

# Bower
public/static/vendor/

# Vim
.*.swp

# Katana
data/etc/configuration/server.json
data/variable/database/katana_*.sqlite
