# Composer
vendor/

# Composer binaries
bin/atoum
bin/generate_vcards
bin/hoa
bin/php-cs-fixer
bin/praspel
bin/sabredav
bin/vobject

# Bower
public/static/vendor/

# Vim
.*.swp

# Katana
data/etc/configuration/server.json
data/share/*.zip
data/share/*.phar
data/share/update/
data/variable/database/katana_*.sqlite
data/variable/log/*.log
