<!-- remove `.min` to get the original versions of all minified resources -->

<!DOCTYPE html>

<html lang="en">
<head>
  <title>Administration of sabre/katana</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta http-equiv="content-type" content="text/javascript; charset=utf-8" />
  <meta http-equiv="content-type" content="text/css; charset=utf-8" />

  <meta name="viewport" content="initial-scale=1.0" />

  <link rel="stylesheet" href="static/vendor/semantic-ui/dist/semantic.min.css" type="text/css" />
  <link rel="stylesheet" href="static/css/layout.css" type="text/css" />

  <style>
    .segment {
        transition: opacity .2s ease;
    }

    html.modal .segment:not(.modal-exclusive) {
        pointer-events: none;
        opacity: .3;
    }
  </style>
</head>
<body>

<script type="text/x-handlebars">
  <main>
    <h1 class="ui icon center aligned header">
      <i class="settings icon"></i>
      <div class="content">
        Administration of sabre/katana
        <div class="sub header">Manage your awesome server!</div>
      </div>
    </h1>

    {{#if sessionWillExpire}}
      <div class="ui icon negative message">
        <i class="warning sign icon"></i>
        <div class="content">
          <div class="header">The session is about to close!</div>
          <p>We are sorry but it seems that you are inactive. For security
          reasons you are going to be logged out in
          <strong>{{sessionExpireIn}}</strong>s.</p>
          <p>Do something to cancel this action.</p>
        </div>
      </div>
    {{/if}}

    {{#if session.isAuthenticated}}
      <nav class="ui segment menu">
        {{#link-to 'users' class="item"}}
          <i class="users icon"></i> Users
        {{/link-to}}
        <a class="item">
          <i class="calendar icon"></i> Calendars
        </a>
        <a class="item">
          <i class="book icon"></i> Address books
        </a>
        <a class="item">
          <i class="tasks icon"></i> Tasks
        </a>
        <a class="item">
          <i class="dashboard icon"></i> Dashboard
        </a>
        <a class="item">
          <i class="settings icon"></i> Settings
        </a>

        <div class="right menu">
          {{#link-to 'about' class="item"}}
            <i class="help circle icon"></i> About
          {{/link-to}}
          <a {{action 'invalidateSession'}} class="item">
            <i class="sign out icon"></i> Log out
          </a>
        </div>
      </nav>

      <article>{{outlet}}</article>
    {{else}}
      <div class="ui three columns centered grid">
        <div class="column">
          <form {{action 'authenticate' on='submit'}} {{bind-attr class=":ui :column :segment :form valid::error submitting:loading"}}>
            <h2 class="ui header">Log in</h2>

            <div class="ui error message">
              <div class="header">Invalid credentials</div>
              <p>Either username or password is invalid.</p>
            </div>

            <div class="field">
              <label>Username:</label>
              {{input type="text" value=username}}
            </div>
            <div class="field">
              <label>Password:</label>
              {{input type="password" value=password}}
            </div>
            <div class="field">
              <button type="submit" class="fluid ui positive right labeled icon button">
                Log in!
                <i class="sign in icon"></i>
              </button>
            </div>
          </form>
        </div>
      </div>
    {{/if}}
  </main>
</script>

<script type="text/x-handlebars" id="users">
  <div class="ui grid">
    <div class="four wide column">
      <div class="ui segment vertical menu">
        <a {{action 'requestCreating'}} class="item">
          New user
          <i class="plus icon"></i>
        </a>
        {{#each}}
          {{#link-to 'user' this class="item"}}
            {{displayName}}
          {{/link-to}}
        {{else}}
          <div class="item">Nobody…</div>
        {{/each}}
      </div>
    </div>

    <div class="twelve wide column">
      <div class="ui segment modal-exclusive">
        {{outlet}}
      </div>
    </div>
  </div>
</script>

<script type="text/x-handlebars" id="user">
  <div id="modalUserAskDeleting" class="ui small modal">
    <i class="close icon"></i>
    <div class="header">Delete the user</div>
    <div class="content">
      Are you sure you want to delete <strong>{{displayName}}</strong>
      ({{username}})?
    </div>
    <div class="actions">
      <button class="ui negative button">No</button>
      <button class="ui positive right labeled icon button">
        Yes!
        <i class="checkmark icon"></i>
      </button>
    </div>
  </div>

  {{#unless valid}}
    {{#if validatorErrors.username_empty}}
      <div class="ui error message">
        <p>Username cannot be empty.</p>
      </div>
    {{/if}}

    {{#if validatorErrors.username_unique}}
      <div class="ui error message">
        <p>Username must be unique.</p>
      </div>
    {{/if}}

    {{#if validatorErrors.displayName_empty}}
      <div class="ui error message">
        <p>Display name cannot be empty.</p>
      </div>
    {{/if}}
  {{/unless}}

  <form class="ui form">
    <div class="inline field">
      <label>Username:</label>
      {{#if isEditing}}
        {{input type="text" value=username}}
      {{else}}
      <strong>{{username}}</strong>
      {{/if}}
    </div>
    <div class="inline field">
      <label>Display name:</label>
      {{#if isEditing}}
        {{input type="text" value=displayName}}
      {{else}}
      <strong>{{displayName}}</strong>
      {{/if}}
    </div>
    <div class="inline field">
      <label>Email:</label>
      {{#if isEditing}}
        {{input type="email" value=email}}
      {{else}}
      <strong>{{email}}</strong>
      {{/if}}
    </div>

    <div class="right aligned column">
      {{#if isEditing}}
        <button type="submit" {{action 'applyEditing'}} {{bind-attr disabled="valid:false:true" class=":ui :positive :right :labeled :icon valid::disabled :button"}}>
          Save
          <i class="save icon"></i>
        </button>
        <button {{action 'cancelEditing'}} class="ui negative right labeled icon button">
          Cancel
          <i class="undo icon"></i>
        </button>
      {{else}}
        <button type="submit" {{action 'requestEditing'}} class="ui primary right labeled icon button">
          Edit
          <i class="edit icon"></i>
        </button>
        <button {{action 'requestDeleting'}} class="ui negative right labeled icon button">
          Delete
          <i class="delete icon"></i>
        </button>
      {{/if}}
    </div>
  </form>
</script>

<script type="text/x-handlebars" id="about">
  <div class="ui segment">
    <h2 class="ui header">
      <i class="help circle icon"></i>
      <div class="content">
        About
        <div class="sub header">Everything you would like to know</div>
      </div>
    </h2>

    <p>sabre/katana is being developed by
    <a href="https://fruux.com/">fruux</a>, and is part of the
    <a href="http://sabre.io/">sabre.io</a> open-source stack (which includes the
    <a href="http://sabre.io/dav">sabre/dav</a> server you are running).</p>

    <h3 class="ui header">Help and documentation</h3>

    <p>To get help or documentation, please visit the
    <a href="http://sabre.io/katana">sabre/katana's website</a>.</p>

    <h3 class="ui header">License</h3>

    <pre><code>sabre/katana.
Copyright (C) 2015 fruux GmbH (https://fruux.com/)

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program. If not, see &lt;http://www.gnu.org/licenses/>.</code></pre>
  </div>
</script>

<script src="static/vendor/jquery/dist/jquery.min.js"></script>
<script src="static/vendor/semantic-ui/dist/semantic.min.js"></script>
<script src="static/vendor/ember/ember.min.js"></script>
<script src="static/vendor/ember/ember-template-compiler.js"></script>
<script src="static/vendor/ember-data/ember-data.min.js"></script>
<script src="static/vendor/ember-simple-auth/simple-auth.js"></script>
<script src="static/javascript/simple-validator.js"></script>
<script src="static/javascript/admin.js"></script>

</body>
</html>
