<!-- remove `.min` to get the original versions of all minified resources -->

<!DOCTYPE html>

<html lang="en">
<head>
  <title>Administration of sabre/katana</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta http-equiv="content-type" content="text/javascript; charset=utf-8" />
  <meta http-equiv="content-type" content="text/css; charset=utf-8" />

  <meta name="viewport" content="initial-scale=1.0" />

  <link rel="stylesheet" href="static/vendor/semantic-ui/dist/semantic.min.css" type="text/css" />
  <link rel="stylesheet" href="static/css/layout.css" type="text/css" />

  <style>
    .segment {
        transition: opacity .2s ease;
    }

    html.modal .segment:not(.modal-exclusive) {
        pointer-events: none;
        opacity: .3;
    }
  </style>
</head>
<body>

<script type="text/x-handlebars">
  <main>
    <h1 class="ui icon center aligned header">
      <i class="settings icon"></i>
      <div class="content">
        Administration of sabre/katana
        <div class="sub header">Manage your awesome server!</div>
      </div>
    </h1>

    {{#if sessionWillExpire}}
      <div class="ui icon negative message">
        <i class="warning sign icon"></i>
        <div class="content">
          <div class="header">The session is about to close!</div>
          <p>We are sorry but it seems that you are inactive. Consequently the
          session is about to close automatically for security reasons in
          <strong>{{sessionExpireIn}}</strong>s.</p>
          <p>Do something to cancel this action.</p>
        </div>
      </div>
    {{/if}}

    {{#if session.isAuthenticated}}
      <nav class="ui segment menu">
        {{#link-to 'users' class="item"}}
          <i class="users icon"></i> Users
        {{/link-to}}
        <a class="item">
          <i class="calendar icon"></i> Calendars
        </a>
        <a class="item">
          <i class="book icon"></i> Address books
        </a>
        <a class="item">
          <i class="tasks icon"></i> Tasks
        </a>
        <a class="item">
          <i class="dashboard icon"></i> Dashboard
        </a>
        <a class="item">
          <i class="settings icon"></i> Settings
        </a>

        <div class="right menu">
          {{#link-to 'about' class="item"}}
            <i class="help circle icon"></i> About
          {{/link-to}}
          <a {{action 'invalidateSession'}} class="item">
            <i class="sign out icon"></i> Log out
          </a>
        </div>
      </nav>

      <article>{{outlet}}</article>
    {{else}}
      <div class="ui three columns centered grid">
        <div class="column">
          <form {{action 'authenticate' on='submit'}} {{bind-attr class=":ui :column :segment :form valid::error submitting:loading"}}>
            <h2 class="ui header">Log in</h2>

            <div class="ui error message">
              <div class="header">Invalid credentials</div>
              <p>Either username or password is invalid.</p>
            </div>

            <div class="field">
              <label>Username:</label>
              {{input type="text" value=username}}
            </div>
            <div class="field">
              <label>Password:</label>
              {{input type="password" value=password}}
            </div>
            <div class="field">
              <button type="submit" class="fluid ui positive right labeled icon button">
                Log in!
                <i class="sign in icon"></i>
              </button>
            </div>
          </form>
        </div>
      </div>
    {{/if}}
  </main>
</script>

<script type="text/x-handlebars" id="users">
  <div class="ui grid">
    <div class="four wide column">
      <div class="ui segment vertical menu">
        <a {{action 'requestCreating'}} class="item">
          New user
          <i class="plus icon"></i>
        </a>
        {{#each}}
          {{#link-to 'user' this class="item"}}
            {{displayName}}
          {{/link-to}}
        {{else}}
          <div class="item">Nobody…</div>
        {{/each}}
      </div>
    </div>

    <div class="twelve wide column">
      <div class="ui segment modal-exclusive">
        {{outlet}}
      </div>
    </div>
  </div>
</script>

<script type="text/x-handlebars" id="user">
  <div id="modalUserAskDeleting" class="ui small modal">
    <i class="close icon"></i>
    <div class="header">Delete the user</div>
    <div class="content">
      Are you sure you want to delete <strong>{{displayName}}</strong>
      ({{username}})?
    </div>
    <div class="actions">
      <button class="ui negative button">No</button>
      <button class="ui positive right labeled icon button">
        Yes!
        <i class="checkmark icon"></i>
      </button>
    </div>
  </div>

  <form class="ui form">
    <div class="inline field">
      <label>Username:</label>
      {{#if isEditing}}
        {{input type="text" value=username}}
      {{else}}
      <strong>{{username}}</strong>
      {{/if}}
    </div>
    <div class="inline field">
      <label>Display name:</label>
      {{#if isEditing}}
        {{input type="text" value=displayName}}
      {{else}}
      <strong>{{displayName}}</strong>
      {{/if}}
    </div>
    <div class="inline field">
      <label>Email:</label>
      {{#if isEditing}}
        {{input type="email" value=email}}
      {{else}}
      <strong>{{email}}</strong>
      {{/if}}
    </div>

    <div class="right aligned column">
      {{#if isEditing}}
        <button type="submit" {{action 'applyEditing'}} class="ui positive right labeled icon button">
          Save
          <i class="save icon"></i>
        </button>
        <button {{action 'cancelEditing'}} class="ui negative right labeled icon button">
          Cancel
          <i class="undo icon"></i>
        </button>
      {{else}}
        <button type="submit" {{action 'requestEditing'}} class="ui primary right labeled icon button">
          Edit
          <i class="edit icon"></i>
        </button>
        <button {{action 'requestDeleting'}} class="ui negative right labeled icon button">
          Delete
          <i class="delete icon"></i>
        </button>
      {{/if}}
    </div>
  </form>
</script>

<script type="text/x-handlebars" id="about">
  <div class="ui segment">
    <h2 class="ui header">
      <i class="help circle icon"></i>
      <div class="content">
        About
        <div class="sub header">Everything you would like to know</div>
      </div>
    </h2>

    <p>sabre/katana is a software developed by
    <a href="https://fruux.com/">fruux.com</a>, and is part of their open-source
    stack called <a href="http://sabre.io/">sabre.io</a> (including the famous
    sabre/dav server you are running!).</p>

    <h3 class="ui header">Help and documentation</h3>

    <p>To get help or documentation, please go to
    <a href="http://sabre.io/katana">on sabre/katana's website</a>.</p>

    <h3 class="ui header">License</h3>

    <pre><code>sabre/katana.
Copyright (C) 2015  fruux GmbH (https://fruux.com/)

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program. If not, see &lt;http://www.gnu.org/licenses/>.</code></pre>
  </div>
</script>

<script src="static/vendor/jquery/dist/jquery.min.js"></script>
<script src="static/vendor/semantic-ui/dist/semantic.min.js"></script>
<script src="static/vendor/ember/ember.min.js"></script>
<script src="static/vendor/ember/ember-template-compiler.js"></script>
<script src="static/vendor/ember-data/ember-data.min.js"></script>
<script src="static/vendor/ember-simple-auth/simple-auth.js"></script>

<script>
var ENV = ENV || {};
ENV['katana'] = {
    base_url: '/server.php/'
};
ENV['simple-auth'] = {
    authorizer: 'authorizer:custom',
    store     : 'simple-auth-session-store:ephemeral'
};

Ember.Application.initializer({
    name      : 'authentication',
    before    : 'simple-auth',
    initialize: function(container, application) {
        container.register('authenticator:custom', Katana.CustomAuthenticator);
        container.register('authorizer:custom',    Katana.CustomAuthorizer);

        return;
    }
});

Katana = Ember.Application.create({

    lastActivity: null,

    ready: function()
    {
        this.lastActivity = new Date();
        return;
    }

});

Katana.CustomAuthenticator = SimpleAuth.Authenticators.Base.extend({

    restore: function(data)
    {
        return new Ember.RSVP.Promise(
            function(resolve, reject) {
                reject();
            }
        );
    },

    authenticate: function(credentials)
    {
        var basic = btoa(
            (credentials.username || '') +
            ':' +
            (credentials.password || '')
        );

        return new Ember.RSVP.Promise(
            function(resolve, reject) {
                Ember.$.ajax({
                    url    : ENV.katana.base_url,
                    type   : 'PROPFIND',
                    headers: {
                        'Authorization': 'Basic ' + basic
                    },
                    xhrFields: {
                        withCredentials: true
                    }
                }).then(
                    function(response, status) {
                        Ember.run(function() {
                            resolve({token: basic});
                        });
                        return;
                    },
                    function(xhr, status, error) {
                        console.log('hoo');

                        Ember.run(function() {
                            reject();
                        });
                        return;
                    }
                );
                return;
            }
        );
    },

    invalidate: function(data)
    {
        return new Ember.RSVP.Promise(
            function(resolve, reject) {
                resolve();
            }
        );
    }
});

Katana.CustomAuthorizer = SimpleAuth.Authorizers.Base.extend({

    authorize: function(xhr, requestOptions)
    {
        var session = this.get('session');

        if (session.content.token) {
            xhr.setRequestHeader(
                'Authorization', 'Basic ' + session.content.token
            );
        }

        return;
    }

});

Katana.Router.reopen({
    rootURL: window.location.pathname
});

Katana.Router.map(function() {
    this.resource('users', function() {
        this.resource('user', {path: ':user_id'});
    });
    this.resource('about');
});

Katana.ApplicationRoute = Ember.Route.extend(SimpleAuth.ApplicationRouteMixin, {

    actions: {

        requestModal: function()
        {
            $('html').addClass('modal');
            return;
        },

        cancelModal: function()
        {
            $('html').removeClass('modal');
            return;
        },

        invalidateSession: function()
        {
            this.get('session').invalidate();
            return;
        }

    }

});

Katana.UsersRoute = Ember.Route.extend(SimpleAuth.AuthenticatedRouteMixing, {

    model: function()
    {
        return this.store.find('user');
    }

});

Katana.UserRoute = Ember.Route.extend(SimpleAuth.AuthenticatedRouteMixing, {

    model: function(params)
    {
        return this.store.find('user', params.user_id);
    }

});

Katana.AboutRoute = Ember.Route.extend(SimpleAuth.AuthenticatedRouteMixing);

Katana.ApplicationController = Ember.Controller.extend(SimpleAuth.AuthenticationControllerMixin, {

    valid            : true,
    submitting       : false,
    lastSessionTick  : null,
    sessionExpireIn  : 0,
    sessionWillExpire: false,

    cancelSubmitting: function()
    {
        this.set('submitting', false);
        return;
    }.observes('valid'),

    sessionTick: function()
    {
        var self            = this;
        var elapsedSeconds  = Math.round((new Date() - Katana.lastActivity) / 1000);
        var sessionExpireIn = (10 * 60) - elapsedSeconds;
        var session         = this.get('session');

        this.set('sessionExpireIn', sessionExpireIn);

        if (false === session.isAuthenticated) {
            return;
        }

        if (sessionExpireIn <= 60) {
            this.set('sessionWillExpire', true);
        } else {
            this.set('sessionWillExpire', false);
        }

        if (sessionExpireIn <= 0) {
            this.get('session').invalidate().then(
                null,
                function() {
                    window.location.reload();
                }
            );
            return;
        }

        Ember.run.later(
            function() {
                self.set('lastSessionTick', new Date());
            },
            1000
        );

        return;
    }.observes('lastSessionTick').on('init'),

    actions: {

        authenticate: function()
        {
            var self = this;
            this.set('submitting', true);

            var credentials = {
                username: this.get('username'),
                password: this.get('password')
            };

            this.get('session')
                .authenticate('authenticator:custom', credentials)
                .then(
                    function(message) {
                        self.set('submitting', false);

                        Ember.run.later(
                            function() {
                                self.set('lastSessionTick', new Date());
                            },
                            1000
                        );

                        return;
                    },
                    function(message) {
                        self.set('valid', false);
                        return;
                    }
                );

            return;
        }

    }

});

Katana.UsersController = Ember.ArrayController.extend({

    sortProperties: ['displayName'],

    actions: {

        requestCreating: function()
        {
            var record = this.store.createRecord(
                'user',
                {
                    displayName: 'Unnamed'
                }
            );
            this.transitionToRoute(
                'user',
                record.get('id'),
                {
                    queryParams: {
                        edit: 'true'
                    }
                }
            );

            return;
        }

    }

});

Katana.UserController = Ember.ObjectController.extend({

    queryParams: ['edit'],
    edit: 'false',

    autoEditing: function()
    {
        if ('true' === this.get('edit')) {
            this.send('requestEditing');
        }

        return;
    }.observes('edit'),

    isEditing: false,

    previousUsername   : null,
    previousDisplayName: null,
    previousEmail      : null,

    globalModal: function()
    {
        this.send(
            true === this.get('isEditing')
                ? 'requestModal'
                : 'cancelModal'
        );
        return;
    }.observes('isEditing'),

    actions: {

        requestEditing: function()
        {
            this.set('previousUsername',    this.get('username'));
            this.set('previousDisplayName', this.get('displayName'));
            this.set('previousEmail',       this.get('email'));
            this.set('isEditing',           true);

            return;
        },

        cancelEditing: function()
        {
            if (true !== this.get('isEditing')) {
                throw "Cannot cancel a user editing that is not in editing mode.";
            }

            // Newly created record.
            if (true === this.get('isNew')) {

                this.get('model').deleteRecord();
                this.set('isEditing', false);
                this.transitionToRoute('users');

                return;

            }

            this.set('username',    this.get('previousUsername'));
            this.set('displayName', this.get('previousDisplayName'));
            this.set('email',       this.get('previousEmail'));
            this.set('isEditing', false);

            return;
        },

        applyEditing: function()
        {
            if (true !== this.get('isEditing')) {
                throw "Cannot save the current user because it was not in the editing mode.";
            }

            this.get('model').save();
            this.set('isEditing', false);
            this.set('edit', false);

            return;
        },

        requestDeleting: function()
        {
            var self = this;

            $('#modalUserAskDeleting')
                .modal(
                    'setting',
                    {
                        onDeny: function() {
                            return true;
                        },
                        onApprove: function() {
                            self.send('applyDeleting');
                            return true;
                        }
                    }
                )
                .modal('show');
        },

        applyDeleting: function()
        {
            this.get('model').destroyRecord();
            this.transitionToRoute('users');

            return;
        }

    }

});

Katana.ApplicationView = Ember.View.extend({

    didInsertElement: function()
    {
        this._super();

        Ember.run.scheduleOnce('afterRender', this, function() {
            $('.ui.modal').modal(
                'setting',
                {
                    transition: 'fade up',
                    closable: false,
                    onDeny: function() {
                        return false;
                    },
                    onApprove: function() {
                        return false;
                    }
                }
            );
        });

        var updateLastActivity = function() {
            Katana.lastActivity = new Date();
            return;
        };

        $(window).mousemove(updateLastActivity);
        $(window).click(updateLastActivity);
        $(window).keypress(updateLastActivity);

        return;
    }

});

Katana.ApplicationAdapter = DS.FixtureAdapter;

var attr    = DS.attr;
Katana.User = DS.Model.extend({
    username: attr('string'),
    displayName: attr('string'),
    email: attr('string')
});

Katana.User.FIXTURES = [
    {
        id: 0,
        username: 'gordon',
        displayName: 'Administrator',
        email: 'gordon@freeman.hl'
    },
    {
        id: 1,
        username: 'alix',
        displayName: 'Alix Vence',
        email: 'alix@freeman.hl'
    },
    {
        id: 2,
        username: 'ivan',
        displayName: 'Hywan',
        email: 'ivan@fruux.com'
    }
];
</script>

</body>
</html>
