<!-- remove `.min` to get the original versions of all minified resources -->

<!DOCTYPE html>

<html lang="en">
<head>
  <title>Administration of sabre/katana</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta http-equiv="content-type" content="text/javascript; charset=utf-8" />
  <meta http-equiv="content-type" content="text/css; charset=utf-8" />

  <meta name="viewport" content="initial-scale=1.0" />

  <link rel="stylesheet" href="static/vendor/semantic-ui/semantic.min.css" type="text/css" />
  <link rel="stylesheet" href="static/css/layout.css" type="text/css" />
  <link rel="stylesheet" href="static/css/ui.css" type="text/css" />
</head>
<body>

<script type="text/x-handlebars">
  {{#if session.isAuthenticated}}
    <nav class="ui segment secondary pointing menu">
      {{#link-to 'users' class="item"}}
        <i class="users icon"></i> Users
      {{/link-to}}
      <a class="item disabled">
        <i class="dashboard icon"></i> Dashboard
      </a>
      <a class="item disabled">
        <i class="settings icon"></i> Settings
      </a>

      <div class="right menu">
        {{#link-to 'about' class="item"}}
          <i class="help circle icon"></i> About
        {{/link-to}}
        <a {{action 'invalidateSession'}} class="item">
          <i class="sign out icon"></i> Log out
        </a>
      </div>
    </nav>
  {{/if}}

  <header>
    <h1 class="ui icon center aligned header">
      <img src="static/image/katana_logo.svg" alt="sabre/katana's logo" />
      <div class="content">
        Administration of sabre/katana
        <div class="sub header">Manage your awesome server!</div>
      </div>
    </h1>
  </header>

  <main>
    {{#if sessionWillExpire}}
      <div class="ui icon negative message">
        <i class="warning sign icon"></i>
        <div class="content">
          <div class="header">The session is about to close!</div>
          <p>We are sorry but it seems that you are inactive. For security
          reasons you are going to be logged out in
          <strong>{{sessionExpireIn}}</strong>s.</p>
          <p>Do something to cancel this action.</p>
        </div>
      </div>
    {{/if}}

    {{#if session.isAuthenticated}}
      {{#if newVersionAvailable}}
        <div class="ui icon info message">
          <i class="close icon"></i>
          <i class="announcement icon"></i>
          <div class="content">
            <div class="header">A new version is available!</div>
            <p>Your instance of sabre/katana is outdated. A new version is
            available. To update sabre/katana, please check
            <a href="https://github.com/fruux/sabre-katana/#update">the
            documentation</a>.</p>
          </div>
        </div>
      {{/if}}

      <article>
        {{outlet}}
      </article>
    {{else}}
      <div class="ui three columns centered grid">
        <div class="column">
          <form {{action 'authenticate' on='submit'}} {{bind-attr class=":ui :column :segment :form valid::error submitting:loading"}} autocomplete="off">
            <h2 class="ui header">Log in</h2>

            <div class="ui error message">
              <div class="header">Invalid credentials</div>
              <p>Either username or password is invalid.</p>
            </div>

            <div class="field">
              <label>Username:</label>
              {{input type="text" value=username autofocus="true"}}
            </div>
            <div class="field">
              <label>Password:</label>
              {{input type="password" value=password}}
            </div>
            <div class="field">
              <button type="submit" class="fluid ui positive right labeled icon button">
                Log in!
                <i class="sign in icon"></i>
              </button>
            </div>
          </form>
        </div>
      </div>
    {{/if}}
  </main>

  <div id="modalAlert" class="ui basic modal">
    <div class="ui red header">{{alert.title}}</div>
    <div class="content">
      <div class="image">
        <i class="warning sign icon"></i>
      </div>
      <div class="description"><p>{{{alert.content}}}</p></div>
    </div>
    <div class="actions">
      <div class="ui one fluid inverted buttons">
        <button class="ui basic inverted green right labeled icon approve button">
          Ok
          <i class="checkmark icon"></i>
        </button>
      </div>
    </div>
  </div>

  <div id="modalConfirm" class="ui basic modal">
    <div class="header">{{confirm.title}}</div>
    <div class="content">
      <div class="image">
        <i {{bind-attr class="confirm.type :icon"}}></i>
      </div>
      <div class="description">{{{confirm.content}}}</div>
    </div>
    <div class="actions">
      <div class="ui two fluid inverted buttons">
        <button class="ui basic inverted red right labeled icon deny button">
          No
          <i class="remove icon"></i>
        </button>
        <button class="ui basic inverted green right labeled icon approve button">
          Yes!
          <i class="checkmark icon"></i>
        </button>
      </div>
    </div>
  </div>
</script>

<script type="text/x-handlebars" id="users">
  <div class="ui grid">
    <div class="four wide column">
      <div class="ui segment vertical menu">
        <a {{action 'requestCreating'}} class="item">
          New user
          <i class="plus icon"></i>
        </a>
        {{#each model as |user|}}
          {{#link-to 'users.user.profile' user.username class="item"}}
            {{user.displayName}}
          {{/link-to}}
        {{else}}
          <div class="item">Nobody…</div>
        {{/each}}
      </div>
    </div>
    <div class="twelve wide column">
      {{outlet}}
    </div>
  </div>
</script>

<script type="text/x-handlebars" id="users/user">
  <nav class="ui segment menu">
    {{#link-to 'users.user.profile' class="item"}}
      <i class="user icon"></i> Profile
    {{/link-to}}
    {{#link-to 'users.user.addressBooks' class="item"}}
      <i class="book icon"></i> Address books
    {{/link-to}}
    {{#link-to 'users.user.calendars' class="item"}}
      <i class="calendar icon"></i> Calendars
    {{/link-to}}
    {{#link-to 'users.user.tasks' class="item"}}
      <i class="tasks icon"></i> Task lists
    {{/link-to}}
    {{#link-to 'users.user.files' class="item"}}
      <i class="folder open outline icon"></i> Files
    {{/link-to}}
  </nav>

  {{outlet}}
</script>

<script type="text/x-handlebars" id="users/user/profile">
  <div class="ui segment modal-exclusive">
    {{#unless valid}}
      {{#if model.validatorErrors.username_empty}}
        <div class="ui error message">
          <p>Username cannot be empty.</p>
        </div>
      {{/if}}

      {{#if model.validatorErrors.username_unique}}
        <div class="ui error message">
          <p>Username must be unique.</p>
        </div>
      {{/if}}

      {{#if model.validatorErrors.displayName_empty}}
        <div class="ui error message">
          <p>Display name cannot be empty.</p>
        </div>
      {{/if}}

      {{#if model.validatorErrors.email_invalid}}
        <div class="ui error message">
          <p>Email is not syntactically valid.</p>
        </div>
      {{/if}}

      {{#if model.validatorErrors.newPassword_empty}}
        <div class="ui error message">
          <p>Password cannot be empty.</p>
        </div>
      {{/if}}
    {{/unless}}

    <form class="ui middle aligned grid">
      <div class="row">
        <div class="three wide column">
          <label>Username:</label>
        </div>
        <div class="eight wide column">
          <div class="ui fluid input">
            {{#if isUsernameEditable}}
              {{input type="text" value=model.username}}
            {{else}}
              <strong>{{model.username}}</strong>
            {{/if}}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="three wide column">
          <label>Display name:</label>
        </div>
        <div class="eight wide column">
          <div class="ui fluid input">
            {{#if isEditing}}
              {{input type="text" value=model.displayName}}
            {{else}}
              <strong>{{model.displayName}}</strong>
            {{/if}}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="three wide column">
          <label>Email:</label>
        </div>
        <div class="eight wide column">
          <div class="ui fluid input">
            {{#if isEditing}}
              {{input type="email" value=model.email}}
            {{else}}
              <strong>{{model.email}}</strong>
            {{/if}}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="three wide column">
          {{#if model.isNew}}
            <label>Password:</label>
          {{else}}
            <label>New password:</label>
          {{/if}}
        </div>
        <div class="eight wide column">
          <div class="ui fluid input">
            {{#if isEditing}}
              {{#if model.isNew}}
                {{input type="password" value=model.newPassword}}
              {{else}}
                {{input type="password" value=model.newPassword placeholder="(empty to not change)"}}
              {{/if}}
            {{else}}
            <strong>•••••••</strong>
            {{/if}}
          </div>
        </div>
      </div>

      <div class="row">
        <div class="right aligned column">
          {{#if isEditing}}
            <button type="submit" {{action 'applyEditing'}} {{bind-attr disabled="model.valid:false:true" class=":ui :positive :right :labeled :icon model.valid::disabled :button"}}>
              Save
              <i class="checkmark icon"></i>
            </button>
            <button {{action 'cancelEditing'}} class="ui negative right labeled icon button">
              Cancel
              <i class="remove icon"></i>
            </button>
          {{else}}
            <button type="submit" {{action 'requestEditing'}} class="ui primary right labeled icon button">
              Edit
              <i class="edit icon"></i>
            </button>
            <button {{action 'requestDeleting'}} class="ui negative right labeled icon button">
              Delete
              <i class="trash outline icon"></i>
            </button>
          {{/if}}
        </div>
      </div>
    </form>
  </div>
</script>

<script type="text/x-handlebars" id="users/user/calendars">
  {{#calendar-list
    subject="calendar"
    model=model
    store=store
    request-modal="requestModal"
    cancel-modal="cancelModal"
    refresh-model="refreshModel"
    current-user=currentUser
    calendar-type="vevent"}}
    {{#each model as |item|}}
      {{calendar-item subject="calendar" model=item confirm="confirm"}}
    {{else}}
      <p>No calendar yet.</p>
    {{/each}}
  {{/calendar-list}}

  {{#if showInstructions}}
    <div class="ui info message">
      <i {{action 'cancelInstructions'}} class="close icon"></i>
      <div class="header">Client instructions</div>
      <p>In the client application, create a new <strong>CalDAV
      account</strong> or a new <strong>calendar</strong> with the following
      information in manual mode:</p>
      <ul>
        <li>Username: <code>{{currentUser}}</code>,</li>
        <li>Password: <em>user's password</em>,</li>
        <li>Server address: <code>{{ENV.katana.origin_url}}{{ENV.katana.base_url}}</code>.</li>
      </ul>
      <p>Make sure that the “Calendars” option is selected.</p>
    </div>
  {{else}}
    <div {{action 'requestInstructions'}} class="ui tiny fluid icon button" style="margin-top: 1em">
      Show client instructions
      <i class="chevron down icon"></i>
    </div>
  {{/if}}
</script>

<script type="text/x-handlebars" id="users/user/addressBooks">
  {{#address-book-list
    subject="address book"
    model=model
    store=store
    request-modal="requestModal"
    cancel-modal="cancelModal"
    refresh-model="refreshModel"
    current-user=currentUser}}
    {{#each model as |item|}}
      {{address-book-item subject="address book" model=item confirm="confirm"}}
    {{else}}
      <p>No address book yet.</p>
    {{/each}}
  {{/address-book-list}}

  {{#if showInstructions}}
    <div class="ui info message">
      <i {{action 'cancelInstructions'}} class="close icon"></i>
      <div class="header">Client instructions</div>
      <p>In the client application, create a new <strong>CardDAV
      account</strong> or a new <strong>address book</strong> with the following
      information in manual mode:</p>
      <ul>
        <li>Username: <code>{{currentUser}}</code>,</li>
        <li>Password: <em>user's password</em>,</li>
        <li>Server address: <code>{{ENV.katana.origin_url}}{{ENV.katana.base_url}}</code>.</li>
      </ul>
    </div>
  {{else}}
    <div {{action 'requestInstructions'}} class="ui tiny fluid icon button" style="margin-top: 1em">
      Show client instructions
      <i class="chevron down icon"></i>
    </div>
  {{/if}}
</script>

<script type="text/x-handlebars" id="users/user/tasks">
  {{#calendar-list
    subject="task list"
    model=model
    store=store
    request-modal="requestModal"
    cancel-modal="cancelModal"
    refresh-model="refreshModel"
    current-user=currentUser
    calendar-type="vtodo"}}
    {{#each model as |item|}}
      {{calendar-item subject="task list" model=item confirm="confirm"}}
    {{else}}
      <p>No task list yet.</p>
    {{/each}}
  {{/calendar-list}}

  {{#if showInstructions}}
    <div class="ui info message">
      <i {{action 'cancelInstructions'}} class="close icon"></i>
      <div class="header">Client instructions</div>
      <p>In the client application, create a new <strong>CalDAV
      account</strong> or a new <strong>task list</strong> with the following
      information in manual mode:</p>
      <ul>
        <li>Username: <code>{{currentUser}}</code>,</li>
        <li>Password: <em>user's password</em>,</li>
        <li>Server address: <code>{{ENV.katana.origin_url}}{{ENV.katana.base_url}}</code>.</li>
      </ul>
      <p>Make sure that the “Task lists” or “Reminders” option is selected.</p>
    </div>
  {{else}}
    <div {{action 'requestInstructions'}} class="ui tiny fluid icon button" style="margin-top: 1em">
      Show client instructions
      <i class="chevron down icon"></i>
    </div>
  {{/if}}
</script>

<script type="text/x-handlebars" id="users/user/files">
  <div class="ui segment">
    <div class="ui breadcrumb">
      {{#link-to 'users.user.files' currentUser (query-params directory='/') class="section"}}
        home
      {{/link-to}}
      <div class="divider"> / </div>
      {{#each pathToBreadcrumb as |part|}}
        {{#if part.path}}
          {{#link-to 'users.user.files' currentUser (query-params directory=part.path) class="section"}}
            {{part.label}}
          {{/link-to}}
          <div class="divider"> / </div>
        {{else}}
          <div class="active section">{{part.label}}</div>
          <div class="divider"> / </div>
        {{/if}}
      {{/each}}
    </div>

    <table class="ui basic table">
      <thead>
        <tr>
          <th>Filename</th>
          <th>Size</th>
          <th>Last modified</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{#unless isRoot}}
          <tr>
            <td>
              {{#link-to 'users.user.files' currentUser (query-params directory=parent)}}
                <i class="level up icon"></i>
                ..
              {{/link-to}}
            </td>
          </tr>
        {{/unless}}
        {{#each model as |item|}}
          <tr>
            <td>
              {{#if item.directory}}
                {{#link-to 'users.user.files' currentUser (query-params directory=item.pathname)}}
                  <i {{bind-attr class="item.directory:folder:file :outline :icon"}}></i>
                  {{item.filename}}/
                {{/link-to}}
              {{else}}
                <i {{bind-attr class="item.directory:folder:file :outline :icon"}}></i>
                {{item.filename}}
              {{/if}}
            </td>
            <td>
              {{item.size}}b
            </td>
            <td>
              {{item.lastModifiedForHuman}}
            </td>
            <td>
              <a {{bind-attr href=item.fileURL download=item.filename}} title="Download this file" class="ui right floated icon button">
                <i class="cloud download icon"></i>
              </a>
            </td>
          </tr>
        {{else}}
          <tr>
            <td>No file yet.</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

  {{#if showInstructions}}
    <div class="ui info message">
      <i {{action 'cancelInstructions'}} class="close icon"></i>
      <div class="header">Client instructions</div>
      <p>In the client application, connect to the server with the following
      information:</p>
      <ul>
        <li>Username: <code>{{currentUser}}</code>,</li>
        <li>Password: <em>user's password</em>,</li>
        <li>Server address: <code>{{ENV.katana.origin_url}}{{ENV.katana.base_url}}files/{{currentUser}}/</code>.</li>
      </ul>
    </div>
  {{else}}
    <div {{action 'requestInstructions'}} class="ui tiny fluid icon button" style="margin-top: 1em">
      Show client instructions
      <i class="chevron down icon"></i>
    </div>
  {{/if}}
</script>

<script type="text/x-handlebars" id="about">
  <div class="ui segment">
    <h2 class="ui header">
      <i class="help circle icon"></i>
      <div class="content">
        About
        <div class="sub header">Everything you would like to know</div>
      </div>
    </h2>

    <p>sabre/katana is being developed by
    <a href="https://fruux.com/">fruux</a>, and is part of the
    <a href="http://sabre.io/">sabre.io</a> open-source stack (which includes the
    <a href="http://sabre.io/dav">sabre/dav</a> server you are running).</p>

    <h3 class="ui header">Help and documentation</h3>

    <p>To get help or documentation, please visit the
    <a href="http://sabre.io/katana">sabre/katana's website</a>.</p>

    <h3 class="ui header">License</h3>

    <pre><code>sabre/katana.
Copyright (C) 2015 fruux GmbH (https://fruux.com/)

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program. If not, see &lt;http://www.gnu.org/licenses/>.</code></pre>
  </div>
</script>

<script type="text/x-handlebars" data-template-name="components/_dav-list">
  <div {{action 'requestCreating'}} {{bind-attr class=":ui :top :attached :positive :icon isCreating:disabled: :button"}}>
    New {{subject}}
    <i class="plus icon"></i>
  </div>
  <div class="ui attached segment modal-exclusive">
    {{#unless valid}}
      {{#if validatorErrors.newItemName_empty}}
        <div class="ui error message">
          <p>New {{subject}} name cannot be empty.</p>
        </div>
      {{/if}}
    {{/unless}}

    <div class="ui divided items">
      {{#if isCreating}}
        <div class="item modal-exclusive">
          <div class="ui tiny image">
            <svg viewBox="0 0 100 100">
              <circle cx="50" cy="50" r="40" {{bind-attr fill=randomColor}} />
            </svg>
          </div>
          <div class="content">
            <div class="ui grid form">
              <div class="eight wide column">
                {{input type="text" value=newItemName placeholder="New name"}}
              </div>
              <div class="right aligned eight wide column">
                <button {{action 'applyCreating'}} {{bind-attr disabled="valid:false:true" class=":ui :positive :right :labeled :icon valid::disabled :button"}}>
                  Save
                  <i class="checkmark icon"></i>
                </button>
                <button {{action 'cancelCreating'}} class="ui negative right labeled icon button">
                  Cancel
                  <i class="remove icon"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      {{/if}}
      {{yield}}
    </div>
  </div>
</script>

<script type="text/x-handlebars" data-template-name="components/calendar-item">
  {{#if isEditing}}
    <div class="ui tiny image">
      <svg viewBox="0 0 100 100">
        <circle cx="50" cy="50" r="40" {{bind-attr fill=model.cssColor}} />
      </svg>
    </div>
    <div class="content">
    {{#unless model.valid}}
      {{#if model.validatorErrors.displayName_empty}}
        <div class="ui error message">
          <p>The {{subject}} name cannot be empty.</p>
        </div>
      {{/if}}
    {{/unless}}
      <div class="ui grid form">
        <div class="eight wide column">
          {{input type="text" value=model.displayName placeholder="New name"}}
        </div>
        <div class="right aligned eight wide column">
          <button {{action 'applyEditing'}} {{bind-attr disabled="model.valid:false:true" class=":ui :positive :right :labeled :icon model.valid::disabled :button"}}>
            Save
            <i class="checkmark icon"></i>
          </button>
          <button {{action 'cancelEditing'}} class="ui negative right labeled icon button">
            Cancel
            <i class="remove icon"></i>
          </button>
        </div>
      </div>
    </div>
  {{else}}
    <div class="ui tiny image">
      <svg viewBox="0 0 100 100">
        <circle cx="50" cy="50" r="40" {{bind-attr fill=model.cssColor}} />
      </svg>
    </div>
    <div class="content">
      <div class="description"><strong>{{model.displayName}}</strong></div>
      <div class="extra">
        {{model.calendarName}}
        <a {{bind-attr href=model.icsURL download=model.calendarFilename}} title="Download as an ICS file" class="ui right floated icon button">
          <i class="cloud download icon"></i>
        </a>
        <span class="ui right floated icon buttons">
          <button {{action 'requestEditing'}} title="Edit" class="ui primary icon button">
            <i class="edit icon"></i>
          </button>
          <button {{action 'requestDeleting'}} title="Delete" class="ui negative icon button">
            <i class="trash outline icon"></i>
          </button>
        </span>
      </div>
    </div>
  {{/if}}
</script>

<script type="text/x-handlebars" data-template-name="components/address-book-item">
  {{#if isEditing}}
    <div class="content">
    {{#unless model.valid}}
      {{#if model.validatorErrors.displayName_empty}}
        <div class="ui error message">
          <p>Address book name cannot be empty.</p>
        </div>
      {{/if}}
    {{/unless}}
      <div class="ui grid form">
        <div class="eight wide column">
          {{input type="text" value=model.displayName placeholder="New address book name"}}
        </div>
        <div class="right aligned eight wide column">
          <button {{action 'applyEditing'}} {{bind-attr disabled="model.valid:false:true" class=":ui :positive :right :labeled :icon model.valid::disabled :button"}}>
            Save
            <i class="checkmark icon"></i>
          </button>
          <button {{action 'cancelEditing'}} class="ui negative right labeled icon button">
            Cancel
            <i class="remove icon"></i>
          </button>
        </div>
      </div>
    </div>
  {{else}}
    <div class="content">
      <div class="description"><strong>{{model.displayName}}</strong></div>
      <div class="extra">
        {{model.addressBookName}}
        <a {{bind-attr href=model.vcfURL download=model.addressBookFilename}} title="Download as a VCF file" class="ui right floated icon button">
          <i class="cloud download icon"></i>
        </a>
        <span class="ui right floated icon buttons">
          <button {{action 'requestEditing'}} title="Edit" class="ui primary icon button">
            <i class="edit icon"></i>
          </button>
          <button {{action 'requestDeleting'}} title="Delete" class="ui negative icon button">
            <i class="trash outline icon"></i>
          </button>
        </span>
      </div>
    </div>
  {{/if}}
</script>

<script src="static/vendor/jquery/dist/jquery.min.js"></script>
<script src="static/vendor/semantic-ui/semantic.min.js"></script>
<script src="static/vendor/ember/ember.min.js"></script>
<script src="static/vendor/ember/ember-template-compiler.js"></script>
<script src="static/vendor/ember-data/ember-data.min.js"></script>
<script src="static/vendor/ember-simple-auth/simple-auth.js"></script>
<script src="static/vendor/node-uuid/uuid.js"></script>
<script src="static/vendor/moment/moment.min.js"></script>
<script src="static/javascript/katana-validator.js"></script>
<script src="static/javascript/katana-webdav-adapter.js"></script>
<script src="static/javascript/admin.js"></script>

</body>
</html>
