<!DOCTYPE html>

<html>
<head>
  <title>Calendar notification from <?= $senderName ?></title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
</head>

<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" style="margin: 0; padding: 0; background: #fff; color: #182f30; font-family: Arial, sans-serif; font-size: 14px; line-height: 20px;">

<table cellspacing="0" cellpadding="0" width="100%">
  <thead>
    <tr>
      <td colspan="3"> </td>
    </tr>
    <tr>
      <td width="*"> </td>
      <td width="500">
        <table width="100%">
          <tr>
            <td width="1" style="font-size: 64px; font-weight:bold;"><?= $dateTime->format('j') ?></td>
            <td width="*">
              <span style=" font-size: 12px; color: #5e6d6e"><?= $dateTime->format('l') ?></span><br />
              <?= $dateTime->format('F') ?>
            </td>
            <td width="58" style="text-align: right;">
              <img src="http://sabre.io/img/logo-katana-hero.png" alt="sabre/katana" width="100px" height="73px" />
            </td>
          </tr>
        </table>
      </td>
      <td width="*"> </td>
    </tr>
    <tr>
      <td> </td>
      <td style="border-top: 1px solid #c9b3a7"> </td>
      <td> </td>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td> </td>
      <td style="text-align: center;">
        <?php if ('REQUEST' === $action): ?>

          <strong><?= $senderName ?></strong>
          invited you to
          <h1 style="margin: 0; color: #2c7ea9; font-weight: 300; line-height: 36px;"><?= $summary ?></h1>

        <?php elseif ('CANCEL' === $action): ?>

          <h1 style="margin: 0; color: #2c7ea9; font-weight: 300; line-height: 36px;"><?= $summary ?></h1>
          has been canceled.

        <?php elseif ('ACCEPTED' === $action): ?>

          <strong><?= $senderName ?></strong>
          accepted your invitation to
          <h1 style="margin: 0; color: #2c7ea9; font-weight: 300; line-height: 36px;"><?= $summary ?></h1>

        <?php elseif ('TENTATIVE' === $action): ?>

          <strong><?= $senderName ?></strong>
          tentatively accepted your invitation to
          <h1 style="margin: 0; color: #2c7ea9; font-weight: 300; line-height: 36px;"><?= $summary ?></h1>

        <?php elseif('DECLINED' === $action): ?>

          <strong><?= $senderName ?></strong>
          declined your invitation to
          <h1 style="margin: 0; color: #2c7ea9; font-weight: 300; line-height: 36px;"><?= $summary ?></h1>

        <?php endif; ?>
      </td>
      <td> </td>
    </tr>
    <tr>
      <td colspan="3"> </td>
    </tr>
    <tr>
      <td> </td>
      <td style="border-top: 1px solid #e0c6b8"> </td>
      <td> </td>
    </tr>

    <tr>
      <td> </td>
      <td>
        <table border="0" cellpadding="0" cellspacing="10" width="100%">

          <tr>
            <td style="vertical-align: bottom; color: #748283;" width="100px">When?</td>
            <td>
              <strong><?= $dateTime->format('l, F j\<\s\u\p\>S</\s\u\p\> Y') ?></strong>
            </td>
          </tr>

          <?php if (false === $allDay): ?>

            <tr>
              <td> </td>
              <td>
                <strong><?= $dateTime->format('g:ia T') ?></strong>
              </td>
            </tr>

          <?php endif; ?>

          <tr>
            <td style="vertical-align: top; color: #748283;" width="100px">Where?</td>
            <td>
              map
            </td>
          </tr>

          <tr>
            <td style="vertical-align: top; color: #748283;" width="100px">Attendees:</td>
            <td>
            <?php foreach ($attendees as $attendee): ?>
              <a href="mailto:<?= $attendee['email'] ?>" style="color: #748283"><?= $attendee['cn'] ?></a>
              <?php if ('CHAIR' === $attendee['role']): ?>
                (organizer)
              <?php endif; ?>
              <br />
            <?php endforeach; ?>
          </tr>

          <?php if (false !== $url): ?>
          <tr>
            <td style="vertical-align: top; color: #748283;" width="100px">URL:</td>
            <td>
              <a href="<?= $url ?>" style="color: #a8a5a3"><?= $url ?></a>
            </td>
          </tr>
          <?php endif; ?>

          <?php if (false !== $description): ?>
          <tr>
            <td style="vertical-align: top; color: #748283;" width="100px">Notes:</td>
            <td><?= $description ?></td>
          </tr>
          <?php endif; ?>

        </table>
      </td>
      <td> </td>
    </tr>

    <tr>
      <td> </td>
      <td style="border-bottom: 1px solid #c9b3a7"> </td>
      <td> </td>
    </tr>
  </tbody>

  <tfoot>
    <tr>
      <td colspan="3" height="5px"></td>
    </tr>
    <tr>
      <td> </td>
      <td style="font-size: 11px; line-height: 16px; text-align: center; color: #a8a5a3;">
        <a href="http://sabre.io/katana" title="Visit sabre/katana's website" style="color: #a8a5a3;">sabre/katana</a>
        is powered by
        <a href="http://sabre.io/" title="Visit sabre.io" style="color: #a8a5a3;">sabre/dav</a>
        &copy; 2007-<?= date('Y') ?> <a href="https://fruux.com/" title="Visit fruux.com" style="color: #a8a5a3;">fruux.com</a>.
      </td>
      <td> </td>
    </tr>
  </tfoot>

</table>
</body>
</html>