<!-- remove `.min` to get the original versions of all minified resources -->

<!DOCTYPE html>

<html lang="en">
<head>
  <title>Installation of sabre/katana</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta http-equiv="content-type" content="text/javascript; charset=utf-8" />
  <meta http-equiv="content-type" content="text/css; charset=utf-8" />

  <meta name="viewport" content="initial-scale=1.0" />

  <link rel="stylesheet" href="./static/vendor/semantic-ui/dist/semantic.min.css" type="text/css" />
  <style>
    :root {
        font-size: 1em;
    }

    main {
        padding: 4em 3em 0 3em;
    }
  </style>
</head>
<body>

<script type="text/x-handlebars">
  <main>
    <h1 class="ui icon center aligned header">
      <i class="settings icon"></i>
      <div class="content">Installation of sabre/katana</div>
    </h1>

    <div class="ui hidden divider"></div>

    <form {{bind-attr class=":ui :form :segment valid::error submitting:loading"}}>
      <div class="ui page grid">
        {{#unless valid}}
        <div class="sixteen wide column">
          {{#if invalidBaseUrl}}
          <div class="ui error message">
            <div class="header">Base URL must start and end by a slash</div>
            <p>Check the Section <cite>The base URL</cite> on
            <a href="http://sabre.io/dav/gettingstarted/">sabre/dav's
            documentation</a>.</p>
          </div>
          {{/if}}
          {{#if invalidLogin}}
          <div class="ui error message">
            <div class="header">Login must not be empty</div>
            <p>How then would call you?</p>
          </div>
          {{/if}}
          {{#if invalidPassword}}
          <div class="ui error message">
            <div class="header">Passwords do not match</div>
            <p>Administrator passwords must match.</p>
          </div>
          {{/if}}
        </div>
        {{/unless}}

        <div class="six wide column">
          <label for="base_url">
            <i class="disk outline icon"></i>
            Choose the base URL:
          </label>
        </div>
        <div class="ten wide column">
          <div class="ui labeled input">
            <div class="ui label">
              {{origin}}
            </div>
            {{input type="text"
                    id="base_url"
                    name="base_url"
                    pattern="^.*/$"
                    required="true"
                    value=baseUrl}}
          </div>
        </div>

        <div class="six wide column">
          <label for="administrator_login">
            <i class="user icon"></i>
            Choose the administrator login:
          </label>
        </div>
        <div class="ten wide column">
          {{input type="text"
                  id="administrator_login"
                  name="administrator_login"
                  required="true"
                  value=login}}
        </div>

        <div class="six wide column">
          <label for="administrator_password">
            <i class="lock icon"></i>
            Choose the administrator password:
          </label>
        </div>
        <div class="ten wide column">
          {{input type="password"
                  id="administrator_password"
                  name="administrator_password"
                  required="true"
                  value=password}}
        </div>

        <div class="six wide column">
          <label for="administrator_password_bis">
            <i class="lock icon"></i>
             Confirm the administrator password:
          </label>
        </div>
        <div class="ten wide column">
          {{input type="password"
                  id="administrator_password_bis"
                  name="administrator_password_bis"
                  required="true"
                  value=passwordBis}}
        </div>

        <div class="six wide column">
          <label>
            <i class="database icon"></i>
            Choose the database driver:
          </label>
        </div>
        <div class="ten wide column">
          <div class="field">
            <div class="ui radio toggle checkbox">
              <input type="radio" name="database_driver" value="sqlite" checked />
              <label>SQLite</label>
            </div>
          </div>
          <div class="field">
            <div class="ui radio toggle checkbox">
              <input type="radio" name="database_driver" value="mysql" />
              <label>MySQL</label>
            </div>
          </div>
        </div>

        <div class="right floated column">
          <input type="submit"
                 {{bind-attr class=":positive :ui :button valid::disabled"}}
                 value="Install!"
                 {{bind-attr disabled="valid:false:true"}}
                 {{action "submit"}} />
        </div>
      </div>
    </form>

    {{#if submitting}}
    <div id="progress" class="ui indicating progress">
      <div class="bar"></div>
      <div class="label">Progression…</div>
    </div>
    {{/if}}
  </main>
</script>

<script src="./static/vendor/jquery/dist/jquery.min.js"></script>
<script src="./static/vendor/semantic-ui/dist/semantic.min.js"></script>
<script src="./static/vendor/handlebars/handlebars.min.js"></script>
<script src="./static/vendor/ember/ember.min.js"></script>
<script src="./static/vendor/ember-data/ember-data.min.js"></script>
<script>
  (function(scope) {
      scope.Katana = Ember.Application.create();

      Katana.ApplicationController = Ember.Controller.extend({

          valid: false,
          invalidBaseUrl: false,
          invalidLogin: false,
          invalidPassword: false,

          origin: window.location.origin,

          baseUrl: function() {
              return window.location.pathname.replace(/\/+[^\/]*$/, '/');
          }.property(),

          login: null,
          password: null,
          passwordBis: null,

          submitting: false,

          validateBaseUrl: function() {
              var self = this;
              $
                  .getJSON('?/baseurl/' + this.get('baseUrl'))
                  .done(function(verdict) {

                      self.set('invalidBaseUrl', false === verdict);
                      self.set('valid', true === verdict);

                      return;
                  });

              return;
          }.observes('baseUrl'),

          validateLogin: function() {
              var self = this;
              $
                  .getJSON('?/login/' + this.get('login') || '')
                  .done(function(verdict) {

                      self.set('invalidLogin', false === verdict);
                      self.set('valid', true === verdict);

                  });
          }.observes('login'),

          validatePassword: function() {
              var self        = this;
              var password    = this.get('password')    || '';
              var passwordBis = this.get('passwordBis') || '';
              $
                  .getJSON('?/password/' + password + passwordBis)
                  .done(function(verdict) {

                      self.set('invalidPassword', false === verdict);
                      self.set('valid', true === verdict);

                      return;
                  });

              return;
          }.observes('password', 'passwordBis'),

          actions: {
              submit: function() {
                  this.set('submitting', true);

                  var source = new EventSource(
                      '?/install/' +
                      JSON.stringify({
                          baseUrl: this.get('baseUrl'),
                          passwords: this.get('password') + this.get('passwordBis')
                      })
                  );
                  source.addEventListener(
                      'step',
                      function(evt) {
                          var data = JSON.parse(evt.data);
                          console.log(data.message);
                          $('#progress').progress({
                              percent: data.percent
                          });
                          $('#progress .label').text(data.message);

                          /*
                          setTimeout(
                              function() {
                                  window.location = '/';
                              },
                              5000
                          );
                          */
                      }
                  );

                  console.log('test');
              }
          }
      });

      Katana.ApplicationView = Ember.View.extend({

          didInsertElement: function() {
              this._super();
              Ember.run.scheduleOnce('afterRender', this, function() {
                  $('.ui.radio.checkbox').checkbox();
                  $('#progress').progress();
              });
          }

      });
  })(window);
</script>

</body>
</html>