<!-- remove `.min` to get the original versions of all minified resources -->

<!DOCTYPE html>

<html lang="en">
<head>
  <title>Installation of sabre/katana</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta http-equiv="content-type" content="text/javascript; charset=utf-8" />
  <meta http-equiv="content-type" content="text/css; charset=utf-8" />

  <meta name="viewport" content="initial-scale=1.0" />

  <link rel="stylesheet" href="static/vendor/semantic-ui/dist/semantic.min.css" type="text/css" />
  <link rel="stylesheet" href="static/css/layout.css" type="text/css" />
  <link rel="stylesheet" href="static/css/ui.css" type="text/css" />
</head>
<body>

<script type="text/x-handlebars">
  <header>
    <h1 class="ui icon center aligned header">
      <img src="static/image/katana_logo.svg" alt="sabre/katana's logo" />
      <div class="content">Installation of sabre/katana</div>
    </h1>
  </header>

  <main>
    <form {{bind-attr class=":ui :form :segment valid::error submitting:loading"}}>
      <div class="ui page grid">
        {{#unless valid}}
          <div class="sixteen wide column">
            {{#if invalidBaseUrl}}
              <div class="ui error message">
                <div class="header">Base URL must start and end by a slash</div>
                <p>Check the Section <cite>The base URL</cite> on
                <a href="http://sabre.io/dav/gettingstarted/">sabre/dav's
                documentation</a>. In addition, according to your HTTP
                configuration, the <code>server.php</code> part must be include.</p>
              </div>
            {{/if}}
            {{#if invalidPassword}}
              <div class="ui error message">
                <div class="header">Passwords do not match</div>
                <p>Administrator passwords must match.</p>
              </div>
            {{/if}}
            {{#if invalidEmail}}
              <div class="ui error message">
                <div class="header">Email is invalid</div>
                <p>The given email seems invalid or they do not match.</p>
              </div>
            {{/if}}
            {{#if invalidDatabase}}
              <div class="ui error message">
                <div class="header">Database is invalid</div>
                <p>The given database parameters seem invalid.</p>
              </div>
            {{/if}}
          </div>
        {{/unless}}

        <div class="six wide column">
          <label for="base_url">
            <i class="disk outline icon"></i>
            Choose the base URL:
          </label>
        </div>
        <div class="ten wide column">
          <div class="ui labeled input">
            <div class="ui label">
              {{origin}}
            </div>
            {{input type="text"
                    id="base_url"
                    name="base_url"
                    pattern="^.*/$"
                    required="true"
                    value=baseUrl}}
          </div>
        </div>

        <div class="six wide column">
          <label for="administrator_login">
            <i class="user icon"></i>
            Your administrator login:
          </label>
        </div>
        <div class="ten wide column">
          admin
        </div>

        <div class="six wide column">
          <label for="administrator_password">
            <i class="lock icon"></i>
            Choose the administrator password:
          </label>
        </div>
        <div class="ten wide column">
          {{input type="password"
                  id="administrator_password"
                  name="administrator_password"
                  required="true"
                  value=password}}
        </div>

        <div class="six wide column">
          <label for="administrator_password_bis">
            <i class="lock icon"></i>
             Confirm the administrator password:
          </label>
        </div>
        <div class="ten wide column">
          {{input type="password"
                  id="administrator_password_bis"
                  name="administrator_password_bis"
                  required="true"
                  value=passwordBis}}
        </div>

        <div class="six wide column">
          <label for="administrator_email">
            <i class="mail icon"></i>
            Choose the administrator email:
          </label>
        </div>
        <div class="ten wide column">
          {{input type="email"
                  id="administrator_email"
                  name="administrator_email"
                  required="true"
                  value=email}}
        </div>

        <div class="six wide column">
          <label for="administrator_email_bis">
            <i class="mail icon"></i>
             Confirm the administrator email:
          </label>
        </div>
        <div class="ten wide column">
          {{input type="email"
                  id="administrator_email_bis"
                  name="administrator_email_bis"
                  required="true"
                  value=emailBis}}
        </div>

        <div class="six wide column">
          <label>
            <i class="database icon"></i>
            Choose the database driver:
          </label>
        </div>
        <div class="ten wide column">
          <div class="field">
            <div class="ui radio toggle checkbox">
              <input type="radio" name="database_driver" value="sqlite" checked />
              <label>SQLite</label>
            </div>
          </div>
          <div class="field">
            <div class="ui radio toggle checkbox">
              <input type="radio" name="database_driver" value="mysql" />
              <label>MySQL</label>
            </div>
          </div>
        </div>

        {{#if showMySQLPanel}}
          <div class="six wide column">
            <label for="database_mysql_host">
              <i class="database icon"></i>
                Choose MySQL host:
            </label>
          </div>
          <div class="ten wide column">
            {{input type="text"
                    id="database_mysql_host"
                    name="database_mysql_host"
                    required="true"
                    value=databaseHost}}
          </div>

          <div class="six wide column">
            <label for="database_mysql_port">
              <i class="database icon"></i>
                Choose MySQL port:
            </label>
          </div>
          <div class="ten wide column">
            {{input type="number"
                    id="database_mysql_port"
                    name="database_mysql_port"
                    required="true"
                    value=databasePort}}
          </div>

          <div class="six wide column">
            <label for="database_mysql_name">
              <i class="database icon"></i>
                Choose MySQL database name:
            </label>
          </div>
          <div class="ten wide column">
            {{input type="text"
                    id="database_mysql_name"
                    name="database_mysql_name"
                    required="true"
                    value=databaseName}}
          </div>

          <div class="six wide column">
            <label for="database_mysql_username">
              <i class="database icon"></i>
                Choose MySQL username:
            </label>
          </div>
          <div class="ten wide column">
            {{input type="text"
                    id="database_mysql_username"
                    name="database_mysql_username"
                    required="true"
                    value=databaseUsername}}
          </div>

          <div class="six wide column">
            <label for="database_mysql_username">
              <i class="database icon"></i>
                Choose MySQL password:
            </label>
          </div>
          <div class="ten wide column">
            {{input type="password"
                    id="database_mysql_password"
                    name="database_mysql_password"
                    required="true"
                    value=databasePassword}}
          </div>
        {{/if}}

        <div class="right floated column">
          <input type="submit"
                 {{bind-attr class=":positive :ui :button valid::disabled"}}
                 value="Install!"
                 {{bind-attr disabled="valid:false:true"}}
                 {{action "submit"}} />
        </div>
      </div>
    </form>

    {{#if submitting}}
      <div class="ui segment">
        <div id="progress" class="ui indicating progress">
          <div class="bar"></div>
          <div class="label">Progression…</div>
        </div>
      </div>
    {{/if}}
  </main>
</script>

<script src="static/vendor/jquery/dist/jquery.min.js"></script>
<script src="static/vendor/semantic-ui/dist/semantic.min.js"></script>
<script src="static/vendor/ember/ember.min.js"></script>
<script src="static/vendor/ember/ember-template-compiler.js"></script>
<script src="static/vendor/ember-data/ember-data.min.js"></script>
<script src="static/vendor/event-source-polyfill/eventsource.min.js"></script>
<script src="static/javascript/install.js"></script>

</body>
</html>