<!DOCTYPE html>

<html lang="en">
<head>
  <title>Installation already done!</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta http-equiv="content-type" content="text/javascript; charset=utf-8" />
  <meta http-equiv="content-type" content="text/css; charset=utf-8" />

  <meta name="viewport" content="initial-scale=1.0" />

  <link rel="stylesheet" href="static/vendor/semantic-ui/semantic.min.css" type="text/css" />
  <link rel="stylesheet" href="static/css/layout.css" type="text/css" />
  <link rel="stylesheet" href="static/css/ui.css" type="text/css" />
</head>
<body>

<header>
  <h1 class="ui icon center aligned header">
    <img src="static/image/katana_logo.svg" alt="sabre/katana's logo" />
    <div class="content">Installation of sabre/katana</div>
  </h1>
</header>

<main class="ui page grid">
  <div class="column">
    <div class="ui icon info message">
      <i class="thumbs outline up icon"></i>
      <div class="content">
        <div class="header">sabre/katana is already installed</div>
        <p>Surprisingly, you cannot install this software twice.</p>
        <p>What's next? Go manage your server with the
        <a href="admin.php">administration interface</a>.</p>
      </div>
    </div>
  </div>
</main>

</body>
</html>
